body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    transition: background-position 0.3s ease;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles,
.poems {
    margin-bottom: 20px;
}

.poems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poem {
    background-color: #00000086;
    padding: 10px;
    text-align: center;
    margin: 8px;
    max-width: 300px;
    word-wrap: break-word; /* Ensure the text wraps within the box */
}

.poem div {
    border: 1px solid #000000;
}

.poem h2 {
    color: #fff;
}

.poem pre {
    color: #fff;
}

.poem:hover {
    transition: background-color 1.0s ease, background-image 1.0s ease;
    background-image: linear-gradient(to top, rgba(110, 110, 110, 0.459), rgba(180, 180, 180, 0.513));
}

.poem button.download-button {
    margin-top: 10px;
}

/* Adjust styles for mobile devices */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    
    .poems {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .poem {
        margin: 5px;
        padding: 8px;
        max-width: 100%;
    }
}
