body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    transition: background-position 0.3s ease;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.profiles,
.poems {
    margin-bottom: 20px;
}

.poems {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 20px;
    overflow: auto;
}

.poem {
    background-color: #00000086;
    padding: 10px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.poem h2 {
    margin-top: 0;
    color: #fff;
}

.poem p {
    margin: 0;
    color: #fff; /* Set the color of the poem text to white */
}

.poem:hover {
    transition: background-color 1.0s ease, background-image 1.0s ease;
    background-image: linear-gradient(to top, rgba(110, 110, 110, 0.459), rgba(180, 180, 180, 0.513));
}

.poem button.download-button {
    margin-top: 10px;
}

/* Add margin between poems in each row */
.poems::before {
    content: '';
    width: 20px;
    height: 1px;
    display: block;
}

/* Adjust styles for mobile devices */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    
    .poems {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
    }
    
    .poem {
        padding: 5px;
    }
}
